PORT=5000

GROQ_API_KEY=your_groq_api_key

GITHUB_USERNAME=your_github_username
GITHUB_TOKEN=your_github_token

LEETCODE_USERNAME=your_leetcode_username

LLM_PROVIDER=groq
GROQ_MODEL=llama-3.3-70b-versatile